html {
	width: 100%;
	text-align: center;
}

h1 {
	font-size: 90px;
	padding: 0px;
	margin: 0px;
}

.container {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 80%;
	grid-template-rows: 20% 40% 20% 20%;
	grid-template-areas: 
		"header"
		"display"
		"buttons"
		"footer";
	place-items: center;
}

.display {
	height: 600px;
	font-size: 400px;
}

.buttons {
	font-size: 40px;
}

.guessButtons {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}

.guessButtonsGroup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 150px;
}

.guessButton {
	border-width: 1px;
	border-color: #000;
	width: 100px;
}

.footer {
}
